@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins";
  list-style: none;
  box-sizing: border-box;
}

.active {
  font-weight: 500;
}

.my-element {
  animation: fadeInUp;
  animation-duration: 1s;
  --animate-repeat: 2;
}

#home {
  min-height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(42, 40, 73, 0.65),
      rgba(42, 40, 73, 0.9),
      rgba(33, 32, 50, 1)
    ),
    url("/ImageProject/home.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
