@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins";
  list-style: none;
  box-sizing: border-box;
}

.active {
  color: rgba(7, 182, 193, 1);
  text-decoration: underline;
  text-underline-offset: 8px;
}

.my-element {
  animation: fadeInUp;
  animation-duration: 1s;
  --animate-repeat: 2;
}
